{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('user_register') }}" method="post">
                <fieldset>
                    <legend><strong>Register</strong></legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_username">Username *</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="user_username" placeholder="Username" name="user[username]"
                                   required type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_email">Email *</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="user_email" placeholder="Email" name="user[email]" required
                                   type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_first">Password *</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="user_password_first" placeholder="Password"
                                   name="user[password][first]" required type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_second">Repeat your password *</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="user_password_second" placeholder="Password"
                                   name="user[password][second]" required type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_name">First name *</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="user_email" placeholder="First name" name="user[name]"
                                   required type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_last_name">Last name *</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="user_last_name" placeholder="Last name"
                                   name="user[last_name]" required type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_age">Age *</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="user_age" placeholder="Age" name="user[age]" required
                                   type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_address">Address *</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="user_address" placeholder="Address" name="user[address]"
                                   required type="text">
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="#">Cancel</a>
                            <button type="submit" class="btn btn-primary">Register!</button>
                        </div>
                    </div>
                    {{ form_row(form._token) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
